.edges line {
    stroke: #CC8888;
}

.nodes circle {
    fill: #CCCCCC;
    cursor: pointer;
}

.nodelabels text {
    text-anchor: middle;
    alignment-baseline: middle;
    fill: #60a8a8;
    cursor: pointer;
}

hr {
    border-color:#60a8a8;
}