.bar {
  fill:rgb(60, 223, 223);
}

#bar-chart-2 .bar {
  fill: deeppink;
}

.tooltip {
  position: absolute;
  flex:auto;
  background-color: rgb(41,44,54);
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 8px;
}

.axis line{
  stroke: rgb(226, 213, 193);
}
.axis path{
  stroke: rgb(226, 213, 193);
}
.axis text{
  fill: rgb(226, 213, 193);
}

form#wave-selector {
  display: flex;
  justify-content: space-evenly;
}

input[type="radio"] {
  appearance: none;
  background-color: currentColor;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  border: 0.15em solid currentColor;
  transform: translateY(+0.075em);
  cursor:inherit;
}

input[type="radio"]:checked {
  background-color: rgb(41,44,54);
}

label {
  cursor: inherit;
}

div.radio-container {
  transition: 300ms;
  cursor: pointer;
}

div.radio-container:hover {
  color:blanchedalmond;
}


/* Page 3 exclusive stuff */

.heatmap-axis {
  font-size: 15px;
}

.cell {
  stroke-width: 4;
  stroke: none;
}

form#numdur-selector {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}
