* {
    background-color: rgb(41, 44, 54);
    color: rgb(226, 213, 193);
    font-family: 'Quicksand', sans-serif;
}

.topspace {
    padding-top: 20px;
    font-size: xx-large;
}

.rightalign {
    color: rgba(169, 255, 234, 0.849);
    padding-left: 100px;
}

a {
    color: rgb(81, 156, 255);
    text-decoration: underline;
}
