* {
    background-color: rgb(41, 44, 54);
    color: rgb(226, 213, 193);
    font-family: 'Quicksand', sans-serif;
}

.althead {
    padding-top: 20px;
    font-size: xx-large;
}

a {
    color: rgb(79, 155, 255);
    text-decoration: underline;
}
